drift-sense-env/
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
data/train_canonical/
data/full_dataset/
model_weights/siamese_localizer.pt
model_weights/siamese_localizer_defects.pt
*.log
venv/
*.bak*
data/pratyush_dataset/
data/new_dataset/
data/test/
data/train/
data/train_canonical_test/
data/train_defects/
data/train_defects_200/
data/train_defects_full/
data/train_variable_scale/
data/prasad_dataset/
